body,html {
    font-family: 'Manrope', sans-serif;
    /* background-color: hsl(0, 0%, 97%); */
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
    /* overflow-x: ; */
}

.row{
    margin-right: 0; 
    margin-left: 0;
}

.section-1 {
    background-color: #D3E2FF;
    position: relative;
    
}

#slide #slide-2{
    display: none;
}
/* @keyframes a {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
} */

.section-1 .header img {
    position: relative;
    top: 8px;
}


.section-1 h3 {
    font-weight: 700;
    color: #002977;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 35px;
}



.section-1 span.t {
    margin-top: 30px;
    font-weight: 400;
    color: #575757;;
    font-size: 18px;
}

.section-1 p {
    font-weight: 400;
    color: rgb(43, 43, 43);
}

.form-control::placeholder {
    color: #837C7C;
    opacity: 1;
    font-size: 12px;
    font-weight: 500px;
}

.section-1 #email {
    background-color: #EEF3F6;
}

form .btn, button .btn, a.btn {
    font-size: x-large;
    background: linear-gradient(180deg, #EE642C 0%, #F4A23A 100%);

    padding-bottom: 6px;
}

.section-2 button.btn, .section-5 button.btn {
    font-size: medium;
    background: linear-gradient(180deg, #EE642C 0%, #F4A23A 100%);
    padding-bottom: 6px;
    border: none;
    color: white;
    outline: none;
  box-shadow: none;
}

.section_1_image {
    position: absolute;
    /* height: 648px; */
    bottom: 0px;
    left: 50px;
}
.section_1_image {
    position: absolute;
    height: 558px;
    bottom: 0px;
}


.section-2_header h3 {
    font-weight: 700;
    font-size: 35px;
    width: 420px;

}

.section-2_text p {
    font-size: 20px;
    color: #837C7C;
}

.section-3 {
    background-color: #F5F7FE;
}

.section-3 p {
    font-size: 20px;
    color: #837C7C;
}

.section-text {
    font-weight: 700;
    font-size: 35px;
    color: #111537;
    line-height: 48px;
}

.section-4 {
    background-color: #fff;
}

.section-4 p {
    color: #837C7C;
    /* font-size: 20px; */
}



.section-5 {
    background-image: url('images/section-5.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: max-content;
}

.section-5 .contain {
    max-width: 400px;
}

.section-5 img {
    padding-top: 65px;
}

.section-5 .contain {
    padding-left: 30px;
}

.section-6 {
    background-color: black;
    /* min-height: 550px; */
    /* position: relative; */
}

.section-6 .section-text {
    color: white;
}

.section-6 .contain {
    max-width: 400px;
    color: white;
}

.section-6 img {
    position: relative;
    top: -80px;
    right: -138px;
}

.section-7 {
    background-color: black;
}

.section-7 .card {
    max-width: 30rem;
    border-radius: 30px
}

.section-7 .green {
    background-color: #F1DFD7
}

.section-7 .orange {
    background-color: #E6E6FD;
}

.section-7 .green div.text {
    max-width: 280px;
}

.section-7 .orange div.text {
    max-width: 300px;
}

.section-7 div.text h4{
    font-size: 20px;
}

.section-7 div.text h4{
    padding-bottom: 40px;
}

.section-7 .card.green div.text h4{
    padding-bottom: 40px;
}





.section-8 {
    background-image: url('images/section-5.jpeg');
    background-position: center;
    background-size: cover;
}

.section-8 #card2{
    position: relative;
    left: 119px;
    height: 540px;
    
}

.section-9 {
    background-color: #fff;
    padding-top: 105px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-9 .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #03369E;
}

.section-9 .nav-pills .nav-link {
    border-radius: 50px;
    margin-right: 10px;
}

.section-9 a.nav-link {
    display: block;
    padding: 0.2rem 1rem;
    color: #10253E;
    background-color: #EDF3FC;
}

.section-9 #accordion .card-header {
    background-color: #fff;
    border-top: none;
    border-bottom: 0.3px solid #867F7F;
    border-left: none;
    border-right: none;
    padding-left: 0;
}

.section-9 #accordion .card {
    border: none;
}

.section-9 #accordion .btn-link {
    font-weight: 700;
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #867F7F;
    text-align: left;
}

.section-9 #accordion .card-body {
    padding-left: 0;
    padding-right: 0;
}


.section-9 .card-body {
    color: #867F7F;
}

.section-9 button {
    padding-left: 0;
    padding-right: 0;
}

.section-9 h5 a {
    -webkit-transition: color 1s;
    transition: color 1s;
    color: black !important;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.section-9 h5 a:hover {
    color: #EE642C !important;
}


.section-10 h3 {
    font-weight: 400;
    font-size: 30px;
}



.section-1 .text{
    display: none;
}

.slide #slide-mobile{
    display: none;
}


@media only screen and (max-width: 595px) {
    #slide #slide-1{
        display: none;
    }
    
    #slide #slide-2{
        display: inline-block;
    }
    
    
    .section-1 {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        min-height: 80vh;
    }
    .section-1 h3 {
        font-weight: 700;
        color: white;
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 25px;
    }
    
    .section-1 span.t {
        font-weight: 400;
        color: #837C7C;;
        font-size: 17px;
        line-height: 20px;
    }
    
    
    .section-text{
        font-size: 25px;
    }
    
    .arrow{
        display: none;
    }
    
    .section-1 span.text{
        display: block;
        font-size: 15px;
    }

    .section-1 h3 {
        font-size: 23px;
    }

    .section_1_image {
        display: none;
    }

    .section-1 form .btn {
        font-size: medium;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

    .section-2_text p, .section-5 .contain p, .section-8 p {
        font-size: 15px;
        color: #837C7C;
    }
    
    .section-7 div.text h4{
        font-size: 18px;
    }

    .section-2 h3 {
        font-size: 25px;
        line-height: normal;
    }

    .section-2 {
        padding: 30px 17px;
    }

    .section-3 {
        padding: 15px;
    }

    .section-3 {
        padding-left: 0px;
    }

    .section-3 .right {
        margin: 0px 25px;
    }

    .section-3 .right p {
        margin-bottom: 40px;
        font-size: 15px;
    }

    .section-4 {
        padding: 15px 15px 0px 15px;
    }

    .section-4 .left {
        margin: 0px 10px;
    }

    .section-4 .left p {
        margin-bottom: 40px;
        font-size: 15px;
    }

    .section-5 {
        padding: 20px 20px 0px 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-5 img {
        padding-top: 40px;
    }

    .section-5 .contain {
        padding-left: 15px;
    }

    .section-6 {
        padding: 50px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-6 .contain {
        margin: 0px 15px;
    }

    .section-6 img {
        width: 100%;
        right: 36px;
        margin-top: 120px;
    }

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }

    .section-7 .orange {
        margin-bottom: 20px;
    }

    .section-8 {
        padding: 50px 25px 0px 25px;
        padding-top: 50px;
        padding-right: 25px;
        padding-bottom: 30px;
        padding-left: 25px;

        padding-left: 0px;
        padding-right: 0px;
        min-height: 105vh;
    }

    .section-8 .left {
        margin: 0px 15px;
    }

    .section-8 .contain {
        margin-bottom: 85px;
        padding-left: 20px;
        padding-left: 20px;
    }

    .section-8 .left p {
        margin-bottom: 40px;
    }
    
    .section-8 #card2{
        display: none;
    }

    .section-10 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-10 .form {
        padding: 25px;
    }

    .section-10 h3 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 0;
        line-height: normal;
    }
    
    .section-9 {
        padding: 15px;
    }
    .section-9 #accordion .btn-link {
        font-size: 1rem;
    }
    
    .faqst, h5.mail a{
        font-size: 12px;
    }

    


}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .section-1 div.header{
        width: 167px;
        height: 150px;
        object-fit: contain;
        align-items: center;
        padding-left: 18px;

    }

    .section-1 {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        min-height: 55vh;
    }
    
    .arrow{
        display: none;
    }
    
    .section-1 span.text{
        display: block;
        font-size: 15px;
    }
    
    .section-1 .btn{
        width: 100%;
    }


    .section-1 h3 {
        font-size: 21px;
        line-height: 30px;
    }
    
    .section-1 span.t {
        font-weight: 400;
        color: #837C7C;
        font-size: 16px;
    }

    
    .section_1_image {
        /* display: none; */
        height: 503px;
        left: 30px;
        /* left: 0; */
    }

    

    .section-1 form .btn {
        font-size: x-large;
        background-color: linear-gradient(180deg, #EE642C 0%, #F4A23A 100%);
        
        padding-bottom: 6px;
        width: 100%;
    }

    .section-2 {
        padding: 30px 17px;
    }

    .section-text {
        font-size: 27px;
        line-height: 35px;
    }

    .section-2 p, .section-3 p, .section-5 p {
        font-size: 18px;
        color: #837C7C;

    }

    .section-4 p {
        max-width: 350px;
        font-size: 16px;
        line-height: normal;
    }
    
    .section-5 p

    /* .section-6 img {
        width: 100%;
        right: 36px;
        margin-top: 120px;
    } */
    
    .section-6 img {
        position: relative;
        top: -55px;
        right: -85px;
    }
    
    .section-6 img {
        position: relative;
        top: -55px;
        right: -85px;
    }
    

    .section-6 p {
        max-width: 350px;
    }

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }  
    
    .section-7 div.text h4{
        font-size: 17.5px;
        padding-bottom: 15px;
    }
    

    .section-8 {
        padding: 0px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 25vh;
    }

    .section-8 p {
        font-size: small;
    }
    
    .section-8 #card1{
        display: none;
    }

    .section-8 #card2 {
        position: relative;
        left: 0;
        height: 302px;
    }
    


    .section-10 h3 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
        line-height: normal;
    }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 769px) and (max-width: 880px) {
    .section-1 div.header{
        width: 167px;
        height: 150px;
        object-fit: contain;
        align-items: center;
        padding-left: 18px;

    }
    .section-1 h3 {
        font-size: 21px;
        line-height: 30px;
    }
    
    .section-1 span.t {
        font-weight: 400;
        color: #837C7C;
        font-size: 16px;
    }

    
    .section_1_image {
        /* display: none; */
        height: 503px;
        left: 30px;
        /* left: 0; */
    }


    /* .section-1 .section_1_image {
        top: 7vh;
    } */

    .section-1 form .btn {
        font-size: x-large;
        background-color: linear-gradient(180deg, #EE642C 0%, #F4A23A 100%);

        padding-bottom: 6px;
        width: 100%;
    }

    .section-5 p {
        max-width: 350px;
    }


    .section-6 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-6 p {
        max-width: 400px;
    }

    .section-6 img {
        width: 100%;
        right: 36px;
        margin-top: 120px;
    }

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }

    .section-8 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 25vh;
    }
    
    .section-8 #card1{
        display: none;
    }


    .section-10 {
        min-height: 27vh;
    }

    .section-10 h3 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 0;
        line-height: normal;
    }

    .footer-slide {
        position: relative;
        left: 40px;
    }

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) and (max-width: 1124px) {

    .section-3 .right p {
        max-width: 350px;
    }

    .section-4 .left p {
        max-width: 350px;
    }
    
    .section-4 img{
        position: relative;
    right: 15px;
    }

    .section-6 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-6 p {
        max-width: 400px;
    }
    
    .section-6 img {
        position: relative;
        top: -80px;
        right: -62px;
    }

    .section-6 img {
        width: 100%;
    }

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }

    .section-8 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 25vh;
    }
    
    .section-8 #card1{
        display: none;
    }
    
    /* .section-6 img {
        position: relative;
        top: -80px;
        right: -47px;
    } */

    .section-10 h3 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 0;
        line-height: normal;
    }
    .section-10 .cycle-slideshow{
        left: 50px;
    }
}

@media only screen and (min-width: 1125px) and (max-width: 1999px) {

    .section-3 .right p {
        max-width: 350px;
    }

    .section-4 .left p {
        max-width: 350px;
    }

    .section-6 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-6 p {
        max-width: 400px;
    }

    .section-6 img {
        width: 100%;
    }

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }

    .section-8 {
        padding: 0px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-8 #card1{
        display: none;
    }
    .section-10 .cycle-slideshow{
        left: 170px;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1224px;
    }
    
    .section-3 .right p {
        max-width: 350px;
    }
    .section-1 .container-fluid{
        padding-left: 0px;
        padding-right: 0px ;
    }
    
    .section-3 .right{
        padding-left: 100px;
    }

    .section-6 p {
        max-width: 400px;
    }

    .section-6 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-6 p {
        max-width: 400px;
    }

    .section-6 img {
        width: 100%;
    }
    

    .section-7 {
        padding: 25px 25px 0px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-7 .contain {
        margin: 0px 15px;
    }

    .section-8 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-8 .contain {
        width: 305px;
    }

    .footer-slide {
        float: right;
    }

    .section-2_text {
        padding-right: 120px;
    }

    .section-4 p, .section-5 p, .section-8 p, .section-9 .card-body {
        color: #837C7C;
        font-size: 18px;
    }
    
    .section-6 p, .section-7 p{
        font-size: 20px;
    }
    
    .section-8 #card1{
        display: none;
    }
    .section-10 .cycle-slideshow{
        left: 170px;
    }


}

.section-10 {
    background-color: black;
}

.section-10 .left {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-10 form button span {
    font-size: 18px;
    color: rgb(73, 72, 72);
}

footer a {
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #867F7F;
}
